:host {
    display: block;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin: 0; /* Remove margin */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
}

.profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section {
    padding: 20px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}